// footer scss
.footer-top-area{
    background-color: #0A090F;
    padding: 60px 0;
    .footer-first{
        .footer-title{
            h2{
                font-family: $bbsFontFamily;
                font-size: 84px;
                font-style: normal;
                font-weight: $bbsSemiBoldWeight;
                line-height: 1.1em; 
                letter-spacing: -5.39px;
                text-transform: uppercase;
                color: $bbsWhiteColor;
                @media (max-width: 1400px) {
                    font-size: 70px;
                }
                @media (max-width: 1200px) {
                    font-size: 50px;
                    letter-spacing: -2px;
                }
                @media (max-width: 992px) {
                    font-size: 40px;
                    letter-spacing: -2px;
                }
                @media (max-width: 768px) {
                    text-align: center;
                }
            }
        }
        .footercontact-btn{
            @media (max-width: 768px) {
                text-align: center;
                margin-top: 30px;
            }
            a{
                padding: 40px 62px;
                @media (max-width: 1400px) {
                    padding: 30px 40px;
                    font-size: 35px;
                }
                @media (max-width: 1200px) {
                    padding: 30px 40px;
                    font-size: 30px;
                }
                @media (max-width: 992px) {
                    padding: 25px 30px;
                    font-size: 23px;
                }
               
            }
        }
    }
}
.footer-area{
    background-color: #0A090F;
    padding: 35px 0;
    border-top: 1px solid #8E8EA0;
    .footer-second{
        .footer-logo{
            @media (max-width: 768px) {
                text-align: center;
            }
        }
        .footer-social{
            ul{
                @media (max-width: 768px) {
                    text-align: center;
                    margin-top: 20px;
                }
                li{
                    display: inline-block;
                    margin-left: 30px;
                    @media (max-width: 1200px) {
                        margin-left: 18px;
                    }
                    @media (max-width: 992px) {
                        margin-left: 15px;
                    }
                    a{
                        font-size: 32px;
                        font-weight: $bbsMediumWeight;
                        letter-spacing: 0.16px;
                        text-decoration: none;
                        color: $bbsWhiteColor;
                        transition: .4s ease all;
                        -webkit-transition: .4s ease all;
                        -moz-transition: .4s ease all;
                        -ms-transition: .4s ease all;
                        -o-transition: .4s ease all;
                        &:hover{
                            color: $bbsPrimaryColor;
                        }
                        @media (max-width: 992px) {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
    }
    .downloadicon-text{
        overflow: hidden;
        @media (max-width: 768px){
            text-align: center;
        }
        a{
            .icon-text{
                display: flex;
                align-items: center;
                gap: 12px;
            }
            text-decoration: none;
            color: $bbsWhiteColor;
            gap: 10px;
            position: relative;
            transition: .4s ease all;
            -webkit-transition: .4s ease all;
            -moz-transition: .4s ease all;
            -ms-transition: .4s ease all;
            -o-transition: .4s ease all;
            @media (max-width: 768px){
                justify-content: center;
                margin: 30px 0 25px;
            }
            img.hidden-img{
                position: absolute;
                top: -20px;
                left: 22px;
                height: 20px;
                width: 20px;
                visibility: hidden;
                padding: 3px;
                opacity: 0;
                transition: .4s ease all;
                -webkit-transition: .4s ease all;
                -moz-transition: .4s ease all;
                -ms-transition: .4s ease all;
                -o-transition: .4s ease all;
            }
            &:hover .companydeck-text p{
                color: $bbsPrimaryColor;
            }
            &:hover .companydeck-icon img{
                transform: translate(0px, 60px);
                -webkit-transform: translate(0px, 60px);
                -moz-transform: translate(0px, 60px);
                -ms-transform: translate(0px, 60px);
                -o-transform: translate(0px, 60px);
            }
            &:hover img.hidden-img{
                height: 42px;
                width: 42px;
                left: 0;
                visibility: visible;
                opacity: 1;
                transform: translate(10px, 30px);
                -webkit-transform: translate(10px, 30px);
                -moz-transform: translate(10px, 30px);
                -ms-transform: translate(10px, 30px);
                -o-transform: translate(10px, 30px);
                @media (max-width: 992px){
                    height: 30px;
                    width: 30px;
                }
            }
            .companydeck-icon{
                height: 65px;
                width: 65px;
                padding: 14px;
                background-color: $bbsSecondaryColor;
                border-radius: 50%;
                overflow: hidden;
                transition: .4s ease all;
                -webkit-transition: .4s ease all;
                -moz-transition: .4s ease all;
                -ms-transition: .4s ease all;
                -o-transition: .4s ease all;
                @media (max-width: 1200px){
                    height: 61px;
                }
                @media (max-width: 992px){
                    height: 50px;
                    width: 50px;
                }
                img{
                    transition: .4s ease all;
                    -webkit-transition: .4s ease all;
                    -moz-transition: .4s ease all;
                    -ms-transition: .4s ease all;
                    -o-transition: .4s ease all;
                }
            }
            .companydeck-text{
                p{
                    color: $bbsWhiteColor;
                    margin-bottom: 0;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: -0.8px;
                    transition: .4s ease all;
                    -webkit-transition: .4s ease all;
                    -moz-transition: .4s ease all;
                    -ms-transition: .4s ease all;
                    -o-transition: .4s ease all;
                    @media(max-width: 992px){
                        font-size: 22px;
                    }
                }
            }
        }
    }
}