// Service Pages



// single service //
.single_service-area{
    background-color: #0A090F;
    padding: 130px 0 100px;
    @media(max-width: 992px){
        padding: 80px 0 60px;
    }
    @media(max-width: 768px){
        padding: 60px 0 50px;
    }
    .single-service_details{
        .service-thumbnail{
            img{
                width: 100%;
                height: auto;
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
            }
        }
        .service-title_btn{
            padding: 80px 0;
            @media(max-width: 992px){
                padding: 50px 0;
            }
            .service-title{
                h2{
                    color: $bbsWhiteColor;
                    font-size: 68px;
                    font-weight: 600;
                    letter-spacing: -4.42px;
                    text-transform: uppercase;
                    @media(max-width: 1200px){
                        font-size: 58px;
                    }
                    @media(max-width: 992px){
                        font-size: 50px;
                        letter-spacing: -2.42px;
                    }
                }
            }
            .serice-excerpt{
                margin-top: 10px;
                p{
                    color: #8E8EA0;
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 42px;
                    letter-spacing: 0.15px;
                    @media(max-width: 1200px){
                       font-size: 25px;
                    }
                    @media(max-width: 992px){
                       font-size: 25px;
                       line-height: 1.5em;
                    }
                }
            }
            .contact-btn{
                @media(max-width: 768px){
                    text-align: center !important;
                    margin-top: 30px;
                }
                a{

                }
            }
        }
        // about project
        .about-project{
            padding: 80px 0;
            .project-title{
                h2{
                    color: $bbsWhiteColor;
                    font-size: 65px;
                    font-weight: 600;
                    letter-spacing: -4.42px;
                    text-transform: uppercase;
                    @media(max-width: 1200px){
                        font-size: 58px;
                    }
                    @media(max-width: 992px){
                        font-size: 45px;
                        letter-spacing: -1px;
                    }
                }
            }
            .project-content_details{
                p{
                    color: $bbsWhiteColor;
                    font-size: 65px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: -2.695px;
                    @media(max-width: 1200px){
                        font-size: 55px;
                    }
                    @media(max-width: 992px){
                        font-size: 42px;
                        letter-spacing: -1px;
                    }
                    @media(max-width: 768px){
                        margin-top: 20px;
                    }
                    @media(max-width: 500px){
                        font-size: 35px;
                    }
                }
                .project-peoples{
                    display: flex;
                    align-items: center;
                    gap: 25px; 
                    margin-top: 80px;
                    @media(max-width: 500px){
                        display: block;
                        text-align: center;
                    }
                    .people-img{
                        margin: 0;
                        padding: 0;
                        @media(max-width: 500px){
                            margin-bottom: 15px;
                        }
                        li{
                            display: inline-block;
                            margin-left: -45px;
                            &:first-child{
                                margin-left: 0;
                            }
                            img{
                                height: 92px;
                                width: 92px;
                                border: 1px solid $bbsBlackColor;
                                border-radius: 50%;
                                -webkit-border-radius: 50%;
                                -moz-border-radius: 50%;
                                -ms-border-radius: 50%;
                                -o-border-radius: 50%;
                                @media(max-width: 992px){
                                    height: 65px;
                                    width: 65px;
                                }
                            }
                        } 
                    }
                    .contact-btn{
                        a{
                            color: $bbsSecondaryColor;
                            font-size: 38px;
                            font-weight: 400;
                            letter-spacing: -0.95px;
                            text-decoration-line: underline;
                            -moz-text-decoration-line: underline;
                            transition: .4s ease all;
                            -webkit-transition: .4s ease all;
                            -moz-transition: .4s ease all;
                            -ms-transition: .4s ease all;
                            -o-transition: .4s ease all;
                            &:hover{
                                color: $bbsPrimaryColor;
                                text-decoration-line: none;
                                -moz-text-decoration-line: none;
                            }
                            @media(max-width: 992px){
                                font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    } 
}

// related blog
.related-service{
    background-color: #0A090F;
    padding-bottom: 100px;
    margin-top: -1px;
    @media(max-width: 1200px){
        padding-bottom: 60px;
    }
    .related-blog_items{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 40px;
        @media(max-width: 1200px){
            gap: 30px;
        }
        @media(max-width: 992px){
            gap: 20px;
        }
        @media(max-width: 768px){
            grid-template-columns: repeat(1, minmax(0, 1fr));
        }
        .blog-box{
 
        }
    }
}


// service page
.serviceitems-area{
    background-color: #0A090F;
    padding: 50px 0;
    position: relative;
    .container{
        cursor: none;
        .service-details{
            .service-image{
                @media(max-width: 768px){
                    text-align: center;
                }
                a{
                    overflow: hidden;
                    border-radius: 30px;
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    -ms-border-radius: 30px;
                    -o-border-radius: 30px;
                    &:hover img{
                        transform: scale(1.2);
                        -webkit-transform: scale(1.2);
                        -moz-transform: scale(1.2);
                        -ms-transform: scale(1.2);
                        -o-transform: scale(1.2);
                    }
                    img{
                        height: auto;
                        border-radius: 30px;
                        -webkit-border-radius: 30px;
                        -moz-border-radius: 30px;
                        -ms-border-radius: 30px;
                        -o-border-radius: 30px;
                        transition: .6s ease all;
                        -webkit-transition: .6s ease all;
                        -moz-transition: .6s ease all;
                        -ms-transition: .6s ease all;
                        -o-transition: .6s ease all;
                        cursor: none;
                        @media(max-width: 768px){
                            height: 400px;
                        }
                        @media(max-width: 550px){
                            height: auto;
                        }
                    }
                }
            }
            .service-content{
                margin-left: 80px;
                @media(max-width: 1400px){
                    margin-left: 40px;
                }
                @media(max-width: 1200px){
                    margin-left: 30px;
                }
                @media(max-width: 768px){
                    margin-top: 40px;
                }
                @media(max-width: 500px){
                    margin-left: 15px;
                }
                .service-subtitle{
                    margin-left: 40px;
                    margin-bottom: 30px;
                    &::before{
                        @media(max-width: 1200px){
                            height: 25px;
                            width: 25px;
                            top: 7px;
                        }
                        @media(max-width: 992px){
                            top: 5px;
                        }
                        @media(max-width: 768px){
                            height: 20px;
                            width: 20px;
                            top: 4px;
                        }
                    }
                    @media(max-width: 1200px){
                        margin-bottom: 10px;
                    }
                    @media(max-width: 768px){
                        margin-left: 32px;
                    }
                    
                    a{
                        text-decoration: none;
                        h3{
                            color: $bbsWhiteColor;
                            font-size: 48px;
                            font-weight: 500;
                            letter-spacing: -2.64px;
                            transition: .4s ease all;
                            -webkit-transition: .4s ease all;
                            -moz-transition: .4s ease all;
                            -ms-transition: .4s ease all;
                            -o-transition: .4s ease all;
                            cursor: none;
                            &:hover{
                                color: $bbsSecondaryColor;
                            }
                            @media(max-width: 1400px){
                                font-size: 40px;
                                letter-spacing: -1.64px;
                            }
                            @media(max-width: 1200px){
                                font-size: 30px;
                                letter-spacing: -1.64px;
                            }
                            @media(max-width: 992px){
                                font-size: 25px;
                                letter-spacing: -1.64px;
                            }
                            @media(max-width: 768px){
                                font-size: 20px;
                                letter-spacing: normal;
                            }
                        }
                    }
                }
                .service-title{
                    margin-bottom: 30px;
                    @media(max-width: 1200px){
                        margin-bottom: 15px;
                    }
                    @media(max-width: 768px){
                        margin-bottom: 8px;
                    }
                    a{
                        text-decoration: none;
                        h2{
                            color: $bbsWhiteColor;
                            font-size: 65px;
                            font-weight: 600;
                            letter-spacing: -4.42px;
                            transition: .4s ease all;
                            -webkit-transition: .4s ease all;
                            -moz-transition: .4s ease all;
                            -ms-transition: .4s ease all;
                            -o-transition: .4s ease all;
                            cursor: none;
                            &:hover{
                                color: $bbsSecondaryColor;
                            }
                            @media(max-width: 1400px){
                                font-size: 50px;
                                letter-spacing: -1.64px;
                            }
                            @media(max-width: 1200px){
                                font-size: 40px;
                                letter-spacing: -1.64px;
                            }
                            @media(max-width: 992px){
                                font-size: 35px;
                                letter-spacing: -1.64px;
                            }
                        }
                    }
                }
                .service-utton{
                    a{
                        text-decoration: none;
                        color: var(--Highd-Color, #8E8EA0);
                        font-size: 48px;
                        font-weight: 400;
                        letter-spacing: -2.16px;
                        transition: .4s ease all;
                        -webkit-transition: .4s ease all;
                        -moz-transition: .4s ease all;
                        -ms-transition: .4s ease all;
                        -o-transition: .4s ease all;
                        cursor: none;
                        &:hover{
                            color: #FFDE00;
                        }
                        @media(max-width: 1400px){
                            font-size: 40px;
                            letter-spacing: -1.64px;
                        }
                        @media(max-width: 1200px){
                            font-size: 30px;
                            letter-spacing: -1.64px;
                        }
                        @media(max-width: 992px){
                            font-size: 25px;
                            letter-spacing: -1.64px;
                        }
                        @media(max-width: 768px){
                            font-size: 20px;
                            letter-spacing: normal;
                        }
                    }
                   
                }
            }
        }
        // cursor
        .servicecustom-cursor{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            width: 130px;
            height: 130px;
            font-size: 28px;
            font-weight: 600;
            letter-spacing: -1.82px;
            text-transform: uppercase;
            line-height: normal;
            background-color: #fff;
            pointer-events: none;
            display: none;
            padding: 32px 20px;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            -ms-border-radius: 100px;
            -o-border-radius: 100px;
            border-right: 6px solid #202123;
            border-bottom: 4px solid #202123;
            @media(max-width: 1200px){
                height:100px;
                width: 100px;
                font-size: 20px;
                padding: 27px 20px;
            }
            @media(max-width: 768px) {
                height:70px;
                width: 70px;
                font-size: 14px;
                padding: 18px 13px;
            }
        }
    }
}